{% extends 'base.html' %}

    {% block head %}
    {% load staticfiles %}
    {% endblock %}

    {% block body %}
        <div class="container"><br>
            <center><h3 class="card-title">How to write prescriptions clearly and concisely?</h3></center>
            <p class="text-justify">
                <b>1. Prescriber information:</b> The doctor's name, address and phone number should be clearly written
                (or preprinted) on the top of the prescription form. Some states require the doctor's state license number
                to be on the form. It is not recommended that you preprint your Drug Enforcement Administration (DEA) number
                on the prescription pad. It becomes too easy for drug abusers to lift a few prescription forms for illicit
                use if that number is easily available. The DEA number is not required on noncontrolled prescriptions;
                however, many pharmacies may request the DEA number with a prescription to help when filing the patient's
                medication insurance claims.<br><br>
                For those who do not use their DEA number: Prescriptions are often counted by the DEA number.
                If that number is not used on prescriptions written by optometrists, the count will not reflect an
                accurate number of prescriptions coming from our profession. This will affect the support optometry
                receives from pharmaceutical companies in terms of service, educational program support and involvement
                in pharmaceutical clinical trials.<br><br>

                <b>2. Patient information:</b> This portion of the prescription should include at least the first and last
                name of the patient and the age of the patient. Many names such as "Smith" and "Jones" should include the
                complete name and address to help distinguish patients with similar names. An address is required on
                schedule II controlled drugs and should be included on prescriptions for any controlled substance.
                When the exact age is unavailable the word "adult" may be used in the age slot. Children and the elderly
                may need the weight listed when oral medications are prescribed.<br><br>

                <b>3. Date prescribed:</b> The date is part of the legal document confirming when the prescription was
                written. Pharmacists are often presented prescriptions with dates that are well past the prescribing date.
                Some patients elect to save prescriptions for future use. This often includes antihistamines and antibiotics
                that may not be indicated or are even dangerous for the patient's present condition.<br><br>

                <b>4. Superscription:</b> This is the Rx symbol on the prescription form that designates the written
                document to be a prescription. Rx is an abbreviation for a Latin phrase that means "take thou."<br><br>

                <b>5. Inscription:</b> An inscription includes the drug name, concentration and type of preparation.
                Drug names should not be abbreviated and correct spelling is important to assure that the correct
                medication is dispensed. Maxitrol (neomycin and polymyxin b sulfates and dexamethasone, Alcon) and Tobra
                Dex (tobramycin and dexamethasone, Alcon) are examples of drugs that are prepared in ointment (ung) or drop
                (gt) form. Cortisporin (neomycin and polymyxin B sulfates, bacitracin zinc and hydrocortisone,
                Glaxo Wellcome) comes in ophthalmic and otic (ear drops) preparations. Specify which preparation you wish
                the patient to use.<br><br>

                Drug names can be written using the chemical name, such as ciprofloxacin 0.3% (Ciloxan, Alcon) or the
                proprietary form that requests a specific brand name drug. This preparation is still under patent,
                so if you use either name the pharmacy will provide the product manufactured by Alcon.<br><br>

                Tobramycin has recently come off patent. If you prescribe "Tobrex" the patient should receive the drug
                manufactured by Alcon unless you check the box on the prescription stating generics are acceptable.
                If you write "tobramycin," the patient will likely receive the generic form of the drug.<br><br>

                Homatropine and pilocarpine come in different concentrations. It is good practice to always specify
                the concentration, even if the drug comes in only one concentration. That drug may come in other
                concentrations in the future. Concentration and preparation form should be written just to the right
                of the drug name. Use the metric system of weights and measures.<br><br>

                To avoid misinterpretation of the preparation strength, follow this standard in writing percentages:
                If the percent is less than one, always precede the decimal with a zero, such as 0.1% or 0.05%.
                If the percent is greater than one, with no fraction, do not use a zero after the decimal, such as 1%.
                Writing 1.0% could easily be misread as 10%.<br><br>

                <b>6. Subscription (Disp):</b> Historically, this was an instruction to the pharmacist to compound
                medications. This could include, for example, instructions regarding the fortification of tobramycin
                for treating a corneal ulcer. Today, most medications are pre-compounded preparations. Subscription
                now indicates the quantity of medication (number of capsules or tablets) or the size of the bottle to
                be dispensed (5 mL, 10 mL, 15 mL).<br><br>

                <b>7. The doctor's instructions</b> to the pharmacist, Sig, should be as specific as possible
                to ensure patient compliance and proper use of medication.<br><br>
                <b>Signatura (Sig):</b> These are the doctor's instructions to the pharmacist indicating how the patient
                should use the medication. Latin or English abbreviations are used to provide specific instructions
                translated by the pharmacist for patient use. Typical instructions on the prescription would follow
                in this order:<br>

                <ul>
                    <li>
                        <b>2 gtt q2h OD for 3 days</b> These instructions as used on a prescription for Ciloxan would be
                        interpreted as follows: two drops every 2 hours instilled in the right eye for 3 days.<br>
                    </li>
                    <li>
                        <b>1 tab po BID for 14 days</b> These instructions as used on a prescription for doxycycline would be
                        interpreted as follows: one tablet by mouth two times per day for 14 days.<br>
                    </li>
                    <li>
                        <b>1 gt QID OU for 7 days,</b> then BID for 14 days, for itchy eyes SHAKE These instructions as used
                    </li>
                    <li>
                        <b>1 gt QID OU for 7 days,</b> then BID for 14 days, for itchy eyes SHAKE These instructions as used
                    </li>
                    <li>
                       <b>1 gt QID OU for 7 days,</b> then BID for 14 days, for itchy eyes SHAKE These instructions as used
                        on a prescription for Livostin (levocabastine HCl, Ciba Vision Ophthalmics) would be interpreted as
                        follows: one drop of Livostin four times per day in each eye for 7 days and then decreased to two times
                        per day for 14 days, for itchy eyes caused by allergies; shake drops before use.<br>
                    </li>
                </ul>
                These instructions should be as specific as possible. Poor instructions given in the office and on
                the prescription lead to poor compliance and often improper use of the medication. It is appropriate
                to write what the medication is being prescribed for in the signatura to let the patient know the
                indications for the medication. Phrases such as "for eye pain" or "for itchy eyes" will help ensure
                that the medication is used appropriately.<br><br>


                <b>8. Refill data:</b> Provide the number of refills the patient should need to complete the cycle of
                drug treatment. Most antibiotic and steroid prescriptions need no refills or one refill. Glaucoma
                medications usually have three refills, which allows the patient enough medication for 3 to 6 months,
                depending on the size of the bottles dispensed. Schedule II controlled substances have no refills. Schedule
                III through V controlled substances can have five refills or can be refilled for a maximum of 6 months,
                whichever comes first. In eye care there is seldom a reason to have more than one refill on these controlled
                drugs.<br><br>

                <b>9. Substitution permitted:</b> Marking "Yes" allows the pharmacist to substitute a generic form of the
                medication prescribed. Some health plans request that the generic drug be used to save money. When writing
                the drug names remember that generic names are not capitalized and brand names are capitalized: Pred Forte
                (Allergan) or prednisolone acetate 1%.<br><br>

                <b>10. Signature:</b> Your signature and degree finalize the legal document. A signature stamp can be
                used for noncontrolled substances. Prescriptions for controlled drugs require a handwritten signature and
                DEA number.<br><br>
            </p>
        </div>

    {% endblock%}